.shopTitle {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  height: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 100%;
  max-width: 300px;
}

.product .description {
  text-align: center;
  margin: 10px 0;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

/* Media Query for Mobile */
@media screen and (max-width: 480px) {
  .shopTitle {
    font-size: 24px;
  }

  .product {
    margin: 10px;
  }
}

/* Media Query for Web */
@media screen and (min-width: 768px) {
  .shopTitle {
    font-size: 40px;
  }

  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
